<body class="Index">
    <h1>Bienvenidos</h1>
    <a href='@Url.Action("Registrarse","Account")'class ="btn"> REGISTRARSE</a>
    <a href='@Url.Action("Login","Account")'class ="btn">INICIAR SESIÓN</a>
</body>